div#new-user-container.col-md-12
  div.signup-container
    div.signup-contain
      div.signup-item
        div.signup-label
          span Name
        div.signup-input
          input(type="text", class="form-control" placeHolder="first name" class="signup-firstname")
          input(type="text", class="form-control", placeHolder="last name" class="signup-lastname")

      div.signup-item
        div.signup-label
          span Gender
        div.signup-input
            label.radio-inline
              input(type="radio", name="gender")
              span Male
            label.radio-inline
              input(type="radio", name="gender")
              span Female
      div.signup-item
        div.signup-label
          span Email
        div.signup-input
          input(type="text", class="form-control", placeHolder="email")

      div.signup-item
        div.signup-label
          span Phone
        div.signup-input
          input(type="text", class="form-control", placeHolder="phone")

      div.signup-item
        div.signup-label
          span Title
        div.signup-input
          input(type="text", class="form-control", placeHolder="title")

      div.signup-item
        div.signup-label
          span Username
        div.signup-input
          input(type="text", class="form-control", placeHolder="username")

      div.signup-item
        div.signup-label
          span Password
        div.signup-input
          input(type="password", class="form-control", placeHolder="password")

      div.signup-item
        div.signup-label
          span Confirm Password
        div.signup-input
          input(type="password", class="form-control", placeHolder="password")
    div.signup-button
      button.btn.btn-danger Cancel
      button.btn.btn-success Submit